.button-container {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button-container .btn {
    margin-right: 1rem; /* Adjust spacing between buttons */
}

.button-container .form-check {
    margin-right: 1rem; /* Adjust spacing between switches */
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: -350px; /* Start hidden off the right side */
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1060; /* Higher than Bootstrap modal's z-index */
    border-radius: 10px;
    transition: right 0.5s ease; /* Smooth slide-in effect */
}

.custom-alert.show {
    right: 20px; /* Slide in to the right position */
}

.custom-alert .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Modal Styles (if needed for custom styling) */
.modal-content {
    border-radius: 10px;
}

.truncate {
    display: inline-block;
    max-width: 400px; /* Adjust width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

/*.truncate::after {*/
/*    content: ' ...';*/
/*    position: absolute;*/
/*    margin-left: 5px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    !*background: linear-gradient(to right, transparent, #fff);*!*/
/*    width: 1em;*/
/*}*/
